html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
}

:root {
    --color-grey: rgba(238, 238, 238, 0.317);
    --color-grey-dark: #ddd;
    --color-black: #000;
    --color-yellow: #f1c40f;
    --color-orange: #F4901E;
    --color-white: #FAFAFA;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    width: 100vw;

}

h1 {
    margin: 0;
    color: var(--color-white);
    font-weight: 900;
}

h2 {
    margin: 0 0 2rem 0;
    color: var(--color-orange);
    font-weight: 500;
}

p {
    margin: 0;
    line-height: 1.3;
    font-weight: 100;

}

h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}


a {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-black);
    font-weight: 700;
}

.nav-link a {
    color: var(--color-white);
}

button {
    border: none;
    cursor: pointer;
}

.portfolioButton {
    border-radius: 2px;
    background-color: var(--color-orange);
    font-weight: 700;
    color: var(--color-white);
    text-transform: uppercase;
    margin: 2rem 0 0 0;
    padding: 0.5rem;
}
.portfolioButton:hover {
    background-color: var(--color-white);
    color: var(--color-orange);
    transition: 1s;
}

.contactButton {
    border-radius: 20px;
    background-color: var(--color-white);
    font-weight: 700;
    color: var(--color-orange);
    text-transform: uppercase;
    padding: 0.5rem 0.7rem 0.5rem 0.5rem;
}

.contactButton:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
    transition: 1s;
}

.contactButton i {
    padding: 0 0.3rem 0 0;
}


.background_header {
    align-items: center;
    background-image: url("background.jpg");
    object-fit: cover;
    object-position: bottom;
    width: 100vw;
    height: auto;
}
 /*

section {
   
    padding: 2em 2em 4em;
    
}
*/
/* HEADER */
header {
    position: fixed;
    top: 0;
    min-height: 75px;
    /*
    padding: 0px 20px;
    */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-grey);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 5%);
    width: 100vw;
  }

  #header-img {
      width: 52px;
      height: 52px;
  }
  
  @media (max-width: 700px) {
    header {
      flex-wrap: wrap;
    }
  }
  
  .logo {
    width: 60vw;
  }
  
  @media (max-width: 750px) {
    .logo {
      margin-top: 15px;
      width: 100%;
      position: relative;
    }
  }
  
  .logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
  }
  
  @media (max-width: 750px) {
    .logo > img {
      margin: 0 auto;
    }
  }
  
  nav {
    font-weight: 400;
  }
  
  @media (max-width: 750px) {
    nav {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 50px;
    }
    nav li {
      padding-bottom: 5px;
    }
  }
  
  nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  @media (max-width: 750px) {
    nav > ul {
      flex-direction: column;
      width: 50vw;
      padding: 0;
    }
  }

  @media (max-width: 750px) {
    nav>ul>li {
    padding: 0 10px
    }
}   


/* NAVIGATION */
nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


li {
    list-style: none;
}

.logo>img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

#nav-bar {
    font-weight: 400;
}


.intro_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5rem 0 5rem 0;
}


@media (max-width: 1050px) {
    .intro_header {
    display: block;
    }
}

.intro_header_card {
    width: 545px;
    height: 250px;
    border-radius: 5px;
    border: none;
    background-color: #3a34409f;
    padding: 1rem;
}

.intro_header_card p{
    color: var(--color-white);
}

.intro_header_picture {
    border: none;
    margin-top: 16rem;
}

@media (max-width: 1050px) {
    .intro_header_picture {
        margin: 2rem 0 0 0;
    }
}
.intro_header_picture img{
    object-fit: cover;
    width: 440px;
    height: 530px;
    border-radius: 5px;

}

